body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  background-color: #edf2f4;
  background-image: url('c7509536372cd5f62cbabcfc043c38b7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
h1 {
  color: #e36414;
  border-bottom: 1px #2b2d42 solid;
  box-shadow: 0 6px 6px -6px #2b2d42;
}
button {
  padding: 1em 2em;
  background-color: #e36414;
  border: none;
  color: #edf2f4;
  font-size: large;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 0.5em;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #edf2f4;
  color: #e36414;
  box-shadow: 0 6px 6px -6px #2b2d42;
  transform: translateY(-10px);
}
ul {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
}
